<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 ps-5 d-flex align-items-center" href="/"> 
      <img src="assets/icons/patineta.png" width="50" height="50" class="d-inline-block align-top skater-icon"  alt="skater-icon" >
      <span class="ms-2 fs-3" style="color: #ffdc43; font-style: italic;">Skate Park</span> 
    </a>
    <a class="navbar-toggler-right" href="#">
      <i class="fas fa-home"></i>
    </a>
  </div>
</nav>
