<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skate Park</title>
    {{!-- Instalación de css --}}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> 
    {{!-- <link rel="stylesheet" href="/bootstrapIcons/bootstrap-icons.css"> --}}
    <link rel="stylesheet" href="/css/main.css">
   

</head>
<body>

    <!-- Estoy en el Layout main -->
      {{{body}}}

    {{!-- Instalación js --}}

    {{!-- <script src="/jquery/jquery.js"></script>--}} 
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/main.js"></script>

</body>